{
  "presets": [
    "@babel/react",
    ["@babel/preset-typescript", { "isTSX": true, "allExtensions": true }],
    ["@babel/env", { "modules": "auto" }]
  ],
  "plugins": [
    [
      "babel-plugin-styled-components", 
      {
      "ssr": false
      }
    ],
    [
      "module-resolver",
      {
        "extensions": [".ts", ".tsx"],
        "root": ["./src"],
        "alias": {
          "root": ".",
          "src": "/src"
        }
      }
    ]
  ]
}
